body {
  background: aqua;
  font-family: sans-serif ;
  border-style:groove white;
  padding: 30px;
  padding-top: 100px;
  margin:5px;
  
}

.cercl{
  border-radius: 100%;
  width: 100px;
  position: absolute;
  left: 45%;
  
 
}
 .face-book{
  width: 30px;
  position: relative;
  left: 40%;
 }
 .github{
    width: 30px;
    float: right;
   }
 .linkedin{
   width: 30px;
   float: left;
 }

.Expérinces{
  background-color: white;
  padding: 10px;
  margin-top: 20px;
  margin-left: 50%;
}
.select{
  background-color: yellow;
  width:400px;
  height: 50px;
  border:1px none ;
  border-style:groove;
  font-family: sans-serif;
  font-size: 25px;
}
.Qui{ 
  background-color: white;
  padding: 10px;
  margin-top: 60px;
  text-align:left;
  margin-left: 50%;

}
.Information{
  background-color:white;
  padding: 10px;
  margin-top: 20px;
  margin-right: 50%;
 
}
.Formation{
  background-color:white;
  padding: 10px;
  margin-top: 20px;
  margin-left: 50%;
  
}
.sel{
  margin-left: 10px;
}
.select-kak{
  background-color: #54e346;
  width: 200px;
  height: 25px;
}
.hapi{
  color: white;
  font-family:cursive;
  font-size: 20px;
  text-align: left;
  background-color: #333;
  position: fixed;
  top: -12px;
  width: 100%;
  display: block;
  transition: top 0.3s;

}
.competences{
   background-color:white;
   padding: 10px;
   margin-top: 20px;
   margin-left: 50%;
 }
 .Langues{
  background-color: white;
  padding: 10px;
  margin-top: 20px;
  margin-right: 50%;
 }
.dinteret{
  background-color: white;
  padding: 10px;
  margin-top: 20px;
  margin-right: 50%;
 
  }
  .cinema{
    width: 50px;
    float: left;
    
  }
  
  
  .atlet{
    width: 50px;
    position: relative;
    left: 40%;
    
  }
  .atlet-titr{

  }

  .chanteur{
    width: 50px;
    float:right;
    
  }
  .chanteur-titr{
    
  }
  .schoole{
    width: 70px;
    float: left;
    margin: 10px;
  }
  .foot{
    text-align: center;
    color:#EAF6F6;
    font-size:0.75rem;
    
  }
  .horizontal{
    background-color: rgb(140, 211, 146);
    height: 10px;
  }
  .btn {
    background: #e8f531;
    background-image: -webkit-linear-gradient(top, #e8f531, #f5f513);
    background-image: -moz-linear-gradient(top, #e8f531, #f5f513);
    background-image: -ms-linear-gradient(top, #e8f531, #f5f513);
    background-image: -o-linear-gradient(top, #e8f531, #f5f513);
    background-image: linear-gradient(to bottom, #e8f531, #f5f513);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: Georgia;
    color: #ffffff;
    font-size: 25px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #cffc3c;
    background-image: -webkit-linear-gradient(top, #cffc3c, #f0e513);
    background-image: -moz-linear-gradient(top, #cffc3c, #f0e513);
    background-image: -ms-linear-gradient(top, #cffc3c, #f0e513);
    background-image: -o-linear-gradient(top, #cffc3c, #f0e513);
    background-image: linear-gradient(to bottom, #cffc3c, #f0e513);
    text-decoration: none;
  }
    /*  .line {
    border-left: 6px solid rgb(12, 11, 12);
    height: 200px;
    margin-left: 5%;
    <p class="cinema">cinema </p>
    
     
      margin-left:560px;
  margin-right: 20px;
  width: 650px;
  position: absolute;
  top:145px;
 } <p class="atlet-titr"> atlet</p> .cinema-titr{
    clear: left;
  }*/